.bg__aboutcompany {
  background: #bec0c2;
}
.container {
  width: 1280px;
}
.aboutcompany {
  padding: 3em;
  background-color: #37a8f9;
  color: white;
  font-family: 'HelveticaNeueCyr';
}
.aboutcompany_zagolovok {
  padding-bottom: 1em;
  padding-left: .8em;
  font-family: 'Ubuntu';
  font-size: 35px;
}
.aboutcompany__text {
  font-family: 'HelveticaNeueCyr';
  font-weight: nomal;
  font-size: 18px;
  padding-bottom: 2em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  text-align: justify;
}
  
@media(max-width: 780px) {
  .aboutcompany__text {
  width: 35%;
  }
     
}
  

  