.bg__aboutcompany {
  background: #bec0c2;
}
.container {
  width: 1280px;
}
.aboutcompany {
  padding: 4em;
  background-color: #37a8f9;
  color: white;
  font-family: 'HelveticaNeueCyr';
}
.aboutcompany_zagolovok {
  
  padding-bottom: .9em;
  font-family: 'Ubuntu';
  font-size: 35px;
}
.aboutcompany__text {
  font-family: 'HelveticaNeueCyr';
  font-weight: nomal;
  
  padding-bottom: 2em;
  
  text-align: justify;
}
  
@media(max-width: 780px) {
  .aboutcompany__text {
  width: 35%;
  font-size: 14px;
  }  
}
  

  