<!-- Block footer -->
<div class="bg__footer">
<div class="footer">
  <div class="container">
      <div class="row">
        
          <div class="col-md-1">
            <div class="log">
              <img src="assets/i/logo_o.png">
            </div>
          </div>

          <div class="col-md-2">
              <div class="cop__adr">
                  @Right line, 2019.
                  Москва, улица Ленинская слобода, дом 19
              </div>
            </div>

            <div class="col-md-2">
                <div class="contacts">
                    +7 499 517 9695
                    info@rtln.ru
                </div>
            </div>

            <div class="col-md-5">
                <div class="niz__nav">
                    <ul>
                        <li><a [routerLink]="['/resheniaPage']">Решения</a></li>
                       <li><a [routerLink]="['/aboutCompanyPage']">О компании</a></li>   
                       <li class="nc"><a [routerLink]="['/contactPage']">Контакты</a></li>
                       </ul>
                </div>
            </div>
      
      </div>
    </div>
    </div>
  