

<!-- Block footer -->
<div class="footer">
  <div class="container-fluid">
      <div class="row">
        
          <div class="col-md-1">
            <div class="log">
              <img src="assets/i/logo_o.png">
            </div>
          </div>

          <div class="col-md-2">
              <div class="cop__adr">
                  @Right line, 2019
                  Город Москва, улица Ленинская слобода, дом 19
              </div>
            </div>

            <div class="col-md-2">
                <div class="contacts">
                    +7 499 517 9695
                    info@rtln.ru
                </div>
            </div>
           


            <div class="col-md-5">
                <div class="niz__nav">
                    Решения    Услуги    Технологии    Проекты    О компании    Контакты
                </div>
            </div>
      
      </div>
    </div>
  