/*Header*/
.header {
    height: 8rem;
    font-family: 'Ubuntu';
    font-size: 18px;
    font-weight: bold;
    color: #414040;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  }
  .logo {
    padding-top: .6em;
    margin-bottom: .6em;
    font-size: 22px;
  }
  .tel {
    height: 8rem;
    line-height: 8rem;
   
  }
  .nav {
    height: 8rem;
    line-height: 8rem;
    
  }
  .nav li {
    list-style: none;
    padding: 0 10px;
    display: inline-block;
  }
  .nav li a {
    color: #333;
  }
  .nc a {
    color: #7f5fd7 !important;
  }