<!-- Header -->
<div class="bg__header">
<div class="container">
  <div class="row">
    <div class="header">

      <div class="col-md-2 col-sm-1 col-xs-1">
        <div class="logo">
          <a [routerLink]="['']"><span><img src="assets/i/l.png" width="200px"></span></a>
        </div>
      </div>
   

      <div class="col-md-8 col-md-offset-2 col-sm-5 col-xs-5">
        <div class="nav">
           <ul>
             <li><span class="n"><a [routerLink]="['']">Right Line</a></span></li>
             <li><span class="n"><a [routerLink]="['/resheniaPage']">Решения</a></span></li>
            <!--<li><a href="#">Услуги</a></li>    
            <li><a href="#">Технологии</a></li>   
            <li><a href="#">Проекты</a></li>-->
            <li><span class="n"><a [routerLink]="['/aboutCompanyPage']">О компании</a></span></li>   
            <li class="nc"><span class="n"><a [routerLink]="['/contactPage']">Контакты</a></span></li>
            <li class="phone">+7 (499) 517 9695</li>
            </ul>
        </div>
      </div>



      <!--<div class="col-md-2">
          <div class="tel">
            +7 (499) 517 9695
          </div>
      </div>-->

    </div>
  </div>
</div>
</div>