/*Sotrudniki blok - o kompanii-page*/
.sotrudniki {
    background-image: url("/assets/i/ofoto.png");
    height: 38em;
    max-width: 1980px;
    background-size: 100%;
    margin: 0 -15px 0 -15px;
    
  }



  .bg__sotrudniki {
    background: #bec0c2;

  }
  .container {
	background:  white;
   width: 1250px;
  }
 
  