<!-- Block stek -->
<div class='bg__stek__global'>
<div class="stek__bg">
  <div class="container">
      <div class="row">
        
          <div class="col-md-12">
            <div class="stek">
              <img src="assets/i/angul.png">
              <img src="assets/i/react.png">
              <img src="assets/i/js.png">
              <img src="assets/i/spring.png">
              <img src="assets/i/java.png">
              <img src="assets/i/grandle.png">
              <img src="assets/i/git.png">
            </div>
          </div>
      
      </div>
    </div>
</div>  
</div> 
