/*Stek block*/
.stek__bg {
    
  }
  .stek {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 7em 3em;
  }
  .bg__stek__global {
    background: #bec0c2;
  }
  .container {
   background: #7f5fd7;
   width: 1250px;
  }

@media(max-width: 780px) {
  .stek {
    display: none;
    
	}
	img {
    
  }

	
}
