.title {
    width: 1000px;
    padding: 2.5em 7em 0 3.2em;
    font-size: 47px;
    font-weight: bold;
    font-family: "Ubuntu";
}


.paragraph {
    width: 1050px;
    padding: 0 15em 0 7em;
    
    font-size: 22px;
    font-weight: 500;
    font-family: 'HelveticaNeueCyr';
    text-align: justify;
}

@media(max-width: 780px) {
    .title {   
        font-size: 30px;
        padding-left: 2.3em;  
    }
    .paragraph {
        font-size: 18px;
        padding-left: 4em;
        width: 36em;
   }	
}