.title {
    padding: 2.5em 7em 0 6em;
    font-size: 47px;
    font-weight: bold;
    font-family: "Ubuntu";
}


.paragraph {
    width: 1000px;
    padding: 0 15em 0 0;
    margin-left: 13em;
    font-size: 22px;
    font-weight: nomal;
    font-family: 'HelveticaNeueCyr';
}