/*Napravlenia*/
.napravlenia {
    
    
  }
  .napravlenia__icon {
    margin: 0 7em 0 7em;
    width: 90px;
  }
  .napravlenia__smallzagolovok {
    margin: 1em 1em;
    font-family: 'Ubuntu';
    font-weight: bold;
  }
  .napravlenia__text{
    padding-bottom: 1em;
    font-family: 'HelveticaNeueCyr';
  }
  .napravlenia__zagolovok {
    font-family: 'Ubuntu';
    font-weight: bold;
    padding-bottom: .5em;
    padding-left: .7em;
  }

  .bg__napravlenia {
    background: #bec0c2;
  }
  .container {
   background-color: #37a8f9;
   color: white;
   width: 1250px;
   padding: 4em;
  }

  
  @media(max-width: 780px) {
    .napravlenia__text {
      width: 35%;
      }
     
    }