<!-- Block napravlenia -->
<div class="bg__napravlenia">
<div class="napravlenia">
  <div class="container">
      <div class="row">
        
  
          <!--<div class="col-md-12">
            <h2 class="napravlenia__zagolovok">Наши направления</h2>
          </div>-->
  
          <div class="col-md-4">
            <div class="napravlenia-item">
              <img class="napravlenia__icon" src="assets/i/finance-icon.png">
              <h3 class="napravlenia__smallzagolovok">Финансы и банки</h3>
               <p class="napravlenia__text">Внедрение передовых технологий, которые соответствуют изменениям законодательства, помогающие привлекать новых клиентов, поддерживать лояльность текущих пользователей и  увеличивать прибыль за счет технологического преимущества перед конкурентами.</p>
            </div>
          </div>
  
          <div class="col-md-4">
              <div class="napravlenia-item">
                  <img class="napravlenia__icon" src="assets/i/intraseti.png">
                  <h3 class="napravlenia__smallzagolovok">Решения для интрасетей</h3>
                  <p class="napravlenia__text">Создание информационных систем, в соответствии с внутренними задачами  организации, которые позволяют оптимизировать бизнес-процессы, сократить издержки, повысить скорость и точность принятия управленческих решений.</p>
    
              </div>
            </div>
  
            <div class="col-md-4">
                <div class="reshenia-item">
                    <img class="napravlenia__icon" src="assets/i/pr-icon.png">
                    <h3 class="napravlenia__smallzagolovok">Производство и ритейл</h3>
                    <p class="napravlenia__text">Автоматизация бизнес-процессов, охватывающих все стадии жизненного цикла выпускаемой продукции: от логистики сырья и материалов, до дистрибуции и гарантийного обслуживания. Разрабатываемые решения позволяют увеличить лояльность покупателей, повысить продажи и понизить трудоемкость.</p>
                </div>
            </div>
  
         </div>
      </div>
    </div>
</div>
  
  