/*Napravlenia*/
.napravlenia {
    padding: 1em;
    margin-top: 1.7em;
    margin-bottom: 3em;
  }
  .napravlenia__icon {
    margin: 2em 10em 0 10em;
  }
  .napravlenia__smallzagolovok {
    margin: 1em 2em;
    font-family: 'Ubuntu';
    font-weight: bold;
  }
  .reshenia__text {
    padding-bottom: 1em;
    font-family: 'HelveticaNeueCyr';
  }
  .napravlenia__zagolovok {
    font-family: 'Ubuntu';
    font-weight: bold;
    padding-bottom: .5em;
  }