/*Karta blok - o kompanii-page*/
.karta {
    background-image: url(/assets/i/karta.png);
    height: 550px;
    max-width: 1980px;
    background-size: 100%;
    margin: 0 -15px 0 -15px;
  }


  .bg__karta {
    background: #f5f5f6;

  }
  .container {
    
    
   width: 1250px;
  }
 
  