<!-- Kak dobratsia - o kontakti-->
<div class="bg__dobratsia">
  <div class="dobratsia">
  <div class="container">
      <div class="row">
          
          <div class="col-md-12">
            <h2 class="dobratsia_zagolovok">Как добраться</h2>
              </div>
        
          <div class="col-md-12">
            <div class="dobratsia__text">
              <p>Время работы: с 9 до 19.</p>
<p>Юридический адрес: 115280, г. Москва, улица Ленинская Слобода, д.19, комната 21Б1</p>
<p>Фактический адрес: 117105, г. Москва, ул. Варшавское шоссе д.26, офис 209</p>
            </div>
          </div>

       </div>
    </div>
</div>
</div>