<!-- Kak dobratsia - o kontakti-->
<div class="bg__dobratsia">
  <div class="dobratsia">
  <div class="container">
      <div class="row">
          
          <div class="col-md-12">
            <h2 class="dobratsia_zagolovok">Как добраться</h2>
              </div>
        
          <div class="col-md-12">
            <div class="dobratsia__text">
              <p>Бизнес-центр Варшавская Плаза расположен в районе активного развития инфраструктуры и бизнес-застройки. Здание располагается на первой линии домов Варшавского шоссе. В 3-х минутах ходьбы находиться станция метро "Нагатинская". Расстояние до ТТК - 2,3 км., расстояние до МКАД - 12 км. Также в непосредственной близости расположена ж/д станция "Нижние Котлы" Павелецкого направления.</p>
              <p>Время работы: с 9 до 19.</p>
<p>Юридический адрес: 115280, г. Москва, улица Ленинская Слобода, д.19, комната 21Б1</p>
<p>Фактический адрес: 117105, г. Москва, ул. Варшавское шоссе д.26, офис 209</p>
            </div>
          </div>

       </div>
    </div>
</div>
</div>