<!-- Kak dobratsia - o kontakti-->
<div class="dobratsia">
  <div class="container-fluid">
      <div class="row">
          
          <div class="col-md-12">
            <h2 class="dobratsia_zagolovok">Как добраться</h2>
              </div>
        
          <div class="col-md-12">
            <div class="dobratsia__text">
              Бизнес-центр Варшавская Плаза расположен в районе активного развития инфраструктуры и бизнес-застройки. Здание располагается на первой линии домов Варшавского шоссе. В 3-х минутах ходьбы находиться станция метро "Нагатинская". Расстояние до ТТК - 2,3 км., расстояние до МКАД - 12 км. Также в непосредственной близости расположена ж/д станция "Нижние Котлы" Павелецкого направления.
            </div>
          </div>

       </div>
    </div>
</div>