.dobratsia {
    
    
    color: white;
    
    
  }
  .dobratsia_zagolovok {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 40px;
    padding-top: 1em;
    padding-left: 1em;
  }
  .dobratsia__text {
    font-family: 'HelveticaNeueCyr';
    font-weight: normal;
    font-size: 18px;
    padding-top: 1em;
    text-align: justify;
    padding: 2em;
  }

  .bg__dobratsia {
    background: #bec0c2;

  }
  .container {
    background: -webkit-gradient(linear, right top, left top, from(#0090ed), to(#7d66de));
    background: linear-gradient(to left, #0090ed, #7d66de);
    height: 450px;
    
   width: 1250px;
  }
 

