.dobratsia {
    color: white;
  }
  .dobratsia_zagolovok {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 40px;
    padding-top: 1em;
    padding-left: .8em;
  }
  .dobratsia__text {
    font-family: 'HelveticaNeueCyr';
    font-weight: normal;
    font-size: 15px;
    padding-top: 1em;
    text-align: justify;
    padding: 2em;
  }
  .bg__dobratsia {
    background: #f5f5f6;
  }
  .container {
    background: -webkit-gradient(linear, right top, left top, from(#0090ed), to(#7d66de));
    background: linear-gradient(to left, #0090ed, #7d66de);
    height: 300px;
    width: 1250px;
  }
 

