<!-- Career blok - o kompanii page-->
<div class="career">
  <div class="container-fluid">
      <div class="row">
          
          <div class="col-md-12">
            <h2 class="career_zagolovok">Карьера</h2>
              </div>
        
          <div class="col-md-12">
            <div class="career__text">
              Люди — профессионалы и яркие личности – главная ценность нашей компании. Именно поэтому наша компания стремится создать максимально благоприятные условия для самореализации, профессионального и личностного роста сотрудника, новые пути его развития и возможности для достижения успеха.
              В компании приветствуется, поддерживается и поощряется творческий подход к своему делу, нацеленность на результат, инициативность и активность, умение работать в команде.
             <a href="#">Подробнее</a>
            </div>
          </div>

       </div>
    </div>
</div>