.bg__career {
  background: #f5f5f6;

}
.container {
  background-color: #37a8f9;
  width: 1250px;
  padding: 3em;
}
.career {
  color: white;
  font-family: 'HelveticaNeueCyr';
  
}
.career_zagolovok {
  padding: .8em;
  font-family: 'Ubuntu';
  
}
.career__text {
  font-family: 'HelveticaNeueCyr';
  font-weight: nomal;
  font-size: 15px;
  margin-bottom: 2em;
  padding: 1em;
}

.career__text a {
  color: white;
}
 

