.bg__career {
  background: #bec0c2;

}
.container {
  background-color: #37a8f9;
  width: 1250px;
}
.career {
  color: white;
  font-family: 'HelveticaNeueCyr';
  
}
.career_zagolovok {
  padding: .8em;
  font-family: 'Ubuntu';
  
}
.career__text {
  font-family: 'HelveticaNeueCyr';
  font-weight: nomal;
  font-size: 15px;
  margin-bottom: 2em;
  padding: 1em;
}
 

