<!-- Career blok - o kompanii page-->
<div class="bg__career"><div class="career">
  <div class="container">
      <div class="row">
          
          <div class="col-md-12">
            <h2 class="career_zagolovok">Карьера</h2>
              </div>
        
          <div class="col-md-12">
            <div class="career__text">
              <p>Люди — профессионалы и яркие личности — главная ценность нашей компании. Именно поэтому наша компания стремится создать максимально благоприятные условия для самореализации, профессионального и личностного роста сотрудника, новые пути его развития и возможности для достижения успеха.
              В компании приветствуется, поддерживается и поощряется творческий подход к своему делу, нацеленность на результат, инициативность и активность, умение работать в команде.</p><br>
            <h4>Список вакансий</h4>
            
             <p> <a href="https://hh.ru/vacancy/32297698">Java Developer</a></p>
             <p> <a href="https://hh.ru/vacancy/29286670">Senior Java Developer/Team Lead</a></p>
             <p><a href="https://hh.ru/vacancy/31285611">Frontend-разработчик</a></p>
            </div>
          </div>

       </div>
    </div>
</div>
</div>