.doveriaut__bg  {
}
.doveriut {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

   padding: 3em;

}
.doveriut img {
   width: 16%;
   padding:1em;
}
.bg__doveriaut {
   background: #bec0c2;
  }
  .container {
   background: white;
   width: 1250px;
  }
.zagolovok__doveriut {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
}
 

