<!-- Nam doveriaut -->
<div class="bg__doveriaut">
  <div class="doveriaut__bg">
  <div class="container">

      <div class="row">
        <div class='doveriut'>
        <div class="col-md-12">
			 <img src="assets/i/tinkoff.png">
			<img src="assets/i/mfm.png">
			  <img src="assets/i/mobicont.png">
			  <img src="assets/i/sdm.png">
			  <img src="assets/i/mastercard.png">
			  <img src="assets/i/tsys.png">          
        </div>
        </div>
      
      </div>
      
 </div>
</div>  
</div> 