img {
  background-repeat: no-repeat;
}
.container {
  width: 1280px;
}
.bg__slider {
  background: #f5f5f6;
}


@media(max-width: 780px) {
  .slider {
    display: none; 
	}
	.bg__slider { 
    display: none; 
  }

	
}
