<!-- Slider -->
<div class="container-fluid">
  <div class="row">

      <ul id="slides">
          <li class="slide showing"><div class="slider1"><div class="number">01/03</div><div class="sl__zagolovok">—&nbsp;СБП-Коннект</div><div class="sl__text">Коробочное решение для подключения Банка к Системе Быстрых Платежей, действительно проверенное опытом. В начале 2019 года НСПК  и Центральный банк запустили пилот СБП, в котором приняли участие 12 организаций в том числе и наше решение, которое является успешным проектом.<br><br><a href="#">Подробнее</a></div></div></li>
          <li class="slide"><div class="slider2"><div class="number">02/03</div><div class="sl__zagolovok">—&nbsp;3-D Secure v2</div><div class="sl__text">Защита Мерчантов, Эмитентов и держателей карт от мошенничества с платежами без присутствия карты (card notpresent или CNP) и стандарт взаимодействия между всеми участниками платежа, позволяя закрепить ответственность за Эмитентом или Эквайером.<br><br><a href="#">Подробнее</a></div></div></li>
          <li class="slide"><div class="slider3"><div class="number">03/03</div><div class="sl__zagolovok">—&nbsp;Интернет-эквайринг</div><div class="sl__text">Многофункциональное решение для развития интернет эквайринга реализует различные варианты подключения и схемы работы для ТСП: платежная страница, платежный виджет, платежные модули для популярных CSM, API для прямого подключения, 3ds/non3ds, автоподтверждение платежа, выставление счетов, привязка карт, и многое другое.
       <br><br><a href="#">Подробнее</a></div></div></li>
      </ul>
  </div>
</div>