.bg__credo {
  background: #f5f5f6;
}
.container {
  background:  white;
  width: 1250px;
}
.credo__img {
  padding: 4em;
  }
.credo__text {
  padding: 4em;
  }
.credo__zagolovok {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 40px;
  }
.credo__abzac {
  font-family: 'HelveticaNeueCyr';
  font-weight: normal;
  font-size: 15px;
  padding-top: 2em;
  text-align: justify;
}
 