<div class="bg__credo">
  <div class="credo">
    <div class="container">
       <div class="row">
       
           <div class="col-md-4">
              <div class="credo__img" width="200px">
              <img src="assets/i/romb_.png" width="350px">
            </div>
          </div>

            <div class="col-md-7">
               <div class="credo__text">
               <div class="credo__zagolovok">О нас</div>
               <div class="credo__abzac">Компания Right Line входит в состав холдинга MFM Group, который занимает лидирующую позицию в IT-индустрии и уже более 14 лет занимается разработкой различных программных продуктов для информирования и коммуникаций.
      Используя новейшие технологии, Мы разрабатываем программное обеспечение для автоматизаци
      и, оптимизации и повышения эффективности Вашего бизнеса. А также предлагаем готовые инструменты, которые помогут увеличить Ваше конкуретное приемущество перед другими организациями. Еще Мы оказываем консалтинговые услуги и осуществляем техническое сопровождение не только своих, но и сторонних IT-решений.</div>
               </div>
               </div>
               </div>
            </div>
 </div>
</div>

   