<!-- Nashi reshenia -->
<div class="bg__first-icon">

  <div class="container">
        <div class="row">
         
  
            <!--<div class="col-md-12">
           <h2 class="reshenia__zagolovok">Наши решения</h2>
            </div>-->
            <div class="col-md-4 col-sm-12">
              <div class="reshenia-item">
                <img class="reshenia__icon" src="assets/i/consalting-icon.png">
                <h3 class="reshenia__smallzagolovok">Консалтинг</h3>
                 <p class="reshenia__text"> Проведение независимой экспертизы с определением экспертной оценки эффективности использования информационных технологий и предложение по внедрению новых IT-решений</p>
              </div>
            </div>
  
            <div class="col-md-4 col-sm-12">
                <div class="reshenia-item">
                    <img class="reshenia__icon" src="assets/i/razrabotka_icon.png" >
                    <h3 class="reshenia__smallzagolovok">Разработка</h3>
                    <p class="reshenia__text">Процесс создания нового программного обеспечения по индивидуальным требованиям заказчика с целью решения поставленных задач и оптимизации бизнес-процессов компании</p>
      
                </div>
              </div>
  
              <div class="col-md-4 col-sm-3">
                  <div class="reshenia-item">
                      <img class="reshenia__icon" src="assets/i/soprovozdenie_icon.png">
                      <h3 class="reshenia__smallzagolovok">Сопровождение</h3>
                      <p class="reshenia__text" width="30%">Техническая и консультационная поддержка внедренных IT-решений, обеспечивающая бесперебойную работоспособность программного продукта и минимизацию рисков сбоев в работе.</p>
  
                  </div>
                </div>
  
           </div>
        </div>
     


    </div>
  
  
  