.preimushestva__zagolovok {
	text-align: center;
	padding-bottom: 1em;
  font-family: 'Ubuntu';
  font-weight: bold;
  padding: .8em;
  margin-top: 1.7em;
}
.preimushestva  {
  color: white;	
}
.preimushestva__icon {
  margin: 2em 8em 0 7em; 
  }
.preimushestva__smallzagolovok {
  margin: 1em 3.6em;
  font-family: 'Ubuntu';
  font-weight: bold;
  }
.preimushestva__text {
  padding-bottom: 1em;
  font-family: 'HelveticaNeueCyr';
  }
.bg__preimushestva {
  background: #f5f5f6;
  }
.container {
    background: -webkit-gradient(linear, right top, left top, from(#0090ed), to(#7d66de));
    background: linear-gradient(to left, #0090ed, #7d66de);
    width: 1250px;
    padding-left: 2em;
    padding-right: 2em;
  }
.preimushestva-item {
    padding: 1em;
    margin-bottom: 1em;
    margin-left: .5em;
    margin-right: .5em;
  }

@media(max-width: 780px) {
    .bg__preimushestva {
        display:none;
      }
    }
  
   
  