

/*Preimushestva*/
.preimushestva__zagolovok {
	text-align: center;
	padding-bottom: 1em;
    font-family: 'Ubuntu';
  font-weight: bold;
  padding: 2em;
}

.preimushestva  {
  color: white;	
}

.preimushestva__icon {
    margin: 2em 10em 0 10em;
    
  }
  .preimushestva__smallzagolovok {
    margin: 1em 5em;
    font-family: 'Ubuntu';
    font-weight: bold;
  }
  .preimushestva__text {
    padding-bottom: 1em;
    font-family: 'HelveticaNeueCyr';
  }


  .bg__preimushestva {
    background: #bec0c2;
  }
  .container {
    background-color: #37a8f9;
   width: 1250px;
  }
 
  .preimushestva-item {
    padding: 2em;
  }
  