<!-- Preimushestva -->
<div class="bg__preimushestva">
<div class="preimushestva">
  <div class="container">
        <div class="row">
         
  
            <div class="col-md-12">
           <h2 class="preimushestva__zagolovok">Почему выбирают нас?</h2>
            </div>
            <div class="col-md-4">
              <div class="preimushestva-item">
                <img class="preimushestva__icon" src="assets/i/bistro.png">
                <h3 class="preimushestva__smallzagolovok">Быстро</h3>
                 <p class="preimushestva__text"> Это быстро. Готовое решение не требует многочасовой работы специалистов, поэтому в довольно быстрые сроки можно получить продукт, который оптимизирует работу Вашей компании.</p>
              </div>
            </div>
  
            <div class="col-md-4">
                <div class="preimushestva-item">
                    <img class="preimushestva__icon" src="assets/i/provereno.png" >
                    <h3 class="preimushestva__smallzagolovok">Проверено</h3>
                    <p class="preimushestva__text">Это проверено. Наш программный продукт уже прошел все этапы разработки, это означает гарантированное и качественное выполнение задач, поставленных перед готовым решением.</p>
      
                </div>
              </div>
  
              <div class="col-md-4">
                  <div class="preimushestva-item">
                      <img class="preimushestva__icon" src="assets/i/vigodno.png">
                      <h3 class="preimushestva__smallzagolovok">Выгодно</h3>
                      <p class="preimushestva__text">Это дешевле. В стоимости решения не включены затраты на проведение анализа проектирование, реализацию, и тестирование в полном объеме, которые необходимы при создании продукта “с нуля”.</p>
  
                  </div>
                </div>
  
           </div>
        </div>
      </div>
      </div>
  
  
  
  